<mat-sidenav-container>

  <mat-sidenav-content role="region">

    <div class="matero-col" id="wrapper_div" fxFlex="100" fxFlex.gt-sm="100">
      <p-table #dt [columns]="cols" [value]="scheduler" [paginator]="true" [rows]="26" sortField="pssName"
        [sortOrder]="-1" class="table">
        <ng-template pTemplate="caption" *ngIf="headerSrv.options.menu === 'ver'">
          Scheduler
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="table-th-tr">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scheduler let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{scheduler[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>